<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/BasicCss.css}">
</head>
<body>

<div class="container-dashboard">
    <!-- Header -->
    <header class="dashboard-header">
        <h2><span class="user-name" th:text="'Welcome, Admin '+${adminName}">Doctor Name</span></h2>
        <div class="header-component">
            <!--<a class="link-button" th:href="@{/admin/account}">My Account</a>-->
            <a class="link-button-logout" th:href="@{/user-logout}">Logout</a>
        </div>
    </header>

    <!-- Options Section -->
    <div class="dashboard-options">
        <a th:href="@{/admin/see-all-user}" class="option-card"> See All User </a>
        <a th:href="@{/admin/see-all-doctor}" class="option-card">See All Doctor</a>
        <a th:href="@{/admin/see-all-patient}" class="option-card">See All Patient</a>
        <a th:href="@{/admin/see-all-prescription}" class="option-card">See All Prescription </a>
        <a th:href="@{/admin/see-all-prescription-recovery}" class="option-card">See All Prescription Recovery</a>
        <a th:href="@{/admin/add-new-role}" class="option-card">New Role Add</a>
    </div>
</div>

</body>
</html>
