<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Doctor Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/BasicCss.css}">
</head>
<body>

<div class="container">
    <div th:if="${param.message}"
         th:text="${param.message[0]}"
         th:class="'alert-box ' + (${param.message[0].contains('successful')} ? 'alert-success' : 'alert-error')">
    </div>

    <h2>Edit Doctor Information</h2>
    <form th:action="@{/doctor/edit-personal-information}" method="post" th:object="${doctorDto}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{doctorId}" />

        <input type="text" th:field="*{doctorName}" placeholder="Full Name" required>
        <input type="text" th:field="*{doctorAddress}" placeholder="Address">
        <select type="selection" th:field="*{doctorGender}" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label >Date of Birth</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${doctorDto.dateOfBirth}" required>
        <input type="text" th:field="*{specialization}" placeholder="Specialization" required>
        <input type="text" th:field="*{experience}" placeholder="Experience Example : 10 year" required>
        <input type="text" th:field="*{qualification}" placeholder="Qualification" required>

        <div class="btn-group">
            <button type="submit" class="custom-submit-button">Save Change</button>
        </div>
    </form>
</div>

</body>
</html>