<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AlphaHealth Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/BasicCss.css}">
</head>
<body>

<div class="container">
    <h1>Welcome to AlphaHealth</h1>
    <a th:href="@{/login}" class="btn-home-page">Login</a>
    <a th:href="@{/registration}" class="btn-home-page">Registration</a>
    <a th:href="@{/login-with-dummy-data}" class="btn-home-page">Login With Dummy Data</a>
</div>

</body>
</html>